*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
    margin: 0;
    font-family: 'Outfit',sans-serif;
    font-size: 0.938rem;
    background-color: hsl(212, 45%, 89%);
    max-height: 100vh;
}

/* LAYOUT */

.container {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 80%;
     max-width: 375px;
     background-color: hsl(0, 0%, 100%);
     border-radius: 1.25rem;
     padding: 0.75em ;
     text-align: center;
}


/* IMAGE */

img {
    width: 250px;
    height: 250px;
    border-radius: 0.938rem;
}

/* TYPOGRAPHY */

h1 {
    font-size: 1.28rem;
    font-weight: 700;
    color: hsl(218, 44%, 22%)
}

P {
    color: hsl(220, 15%, 55%);
    margin-bottom: 1.875rem;
}

  
@media (min-width: 481px){
    .container{
        width: 70%;
        max-width: 280px;
    }
}
